aside {
	position: fixed;
	top: 0;
	left: -100%;
	width: 30rem;
	max-width: 80%;
	height: 100vh;
	background: rgb(220, 230, 220);
	box-shadow: 0 2px 8px rgb(216, 209, 209);
	transition: left 0.3s ease-out;
}

:host([open]) aside {
	left: 0;
}

header {
	padding: 1rem;
	background: black;
	position: relative;
}
header h1 {
	font-size: 1.5rem;
	color: white;
	margin: 0;
}

header button {
	background: black;
	padding: 1rem;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.5rem;
	border-style: none;
}

header button:focus {
	outline: none;
}

#tabs {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}

#tabs button {
	width: 30%;
	color: black;
	background: white;
	text-align: center;
	border: 1px solid black;
	padding: 0.15rem 0;
}
#tabs button:focus {
	outline: none;
}

#tabs button.active,
#tabs button:hover,
#tabs button:active {
	background: black;
	color: white;
}

#contact-info {
	padding: 0 1rem;
}
